<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar, h1, button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor, .fa-coffee {
            font-size: 200px
        }
    </style>
</head>
<!-- Navbar -->
<body>
<form action="#" th:action="@{/subjects/computer_science}" th:object="${subject}" method="post" enctype="multipart/form-data">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">School is Stupid</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a type="submit" th:href="@{/index}">Home</a></li>
                <li><a type="submit" th:href="@{/start}">Start</a></li>
                <li><a type="submit" th:href="@{/subject}">Subject</a></li>
                <li><a type="submit" th:href="@{/we}">We</a></li>
                <li><a type="submit" th:href="@{/about}">About</a></li>
                <li><a type="submit" th:href="@{/sign_in}">Sign In</a></li>
            </ul>
        </div>
    </nav>
    <h1>Computer Science</h1>
    <div>
        <div th:if="${not #lists.isEmpty(subjectList)}">
        <h2>Subject List</h2>
        <table border="5" cellspacing="20" cellpadding="40">
            <thead>
            <tr>
                <th> Name </th>
                <th> Header </th>
                <th> Content </th>
            </tr>
            </thead>
            <tr class="listRow" th:each="subject : ${subjectList}">
                <td><a type="submit" th:href="@{${subject.url}}" th:text="${subject.name}"></a></td>
                <td><a th:text="${subject.header}"></a></td>
                <td><a th:text="${subject.content}"></a></td>
            </tr>
        </table>
    </div>
    </div>
</form>
</body>
</html>